body {
	background-color: #FAEBD7;
}

#add-task-button {
	position:relative;
	margin-top:10%;
	background-color:red;
	color:yellow;
	height:40px;
	width:100px;
}

.output {
	position:relative;
	text-align: center;
	margin:0px;
	background-color: #cce5ff;
	font-size:13px;
}

.task-output {
	position:relative;
}

.completion-output {
	position:relative;
	text-align:center;
}

.completed-checkbox {
	position:relative;
	left:6%;
}

.delete-button {
	position:relative;
	text-align:center;
}

.date-col {
	position:relative;
  font-size: 13px;
}
#complete-checkbox{
	position:relative;
	text-align: center;
	background-color: yellow;
}
